.register-button{
    display: flex;
    width: 300px;
    height: 50px;
    margin: 2px;

    border: none;

    border-radius: 10px;

    font-size: 25px;
}

.game-button-default{
    display: flex;
    width: 140px;
    height: 50px;

    margin: 5px;

    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 10px;

    font-size: 25px;
}

.game-button-drop{
    background: #b4c9ff;
}

.game-button-move{
    background: #b4eeff;
}

.game-button-view{
    background: #e9ffc1;
}

.game-button-reveal{
    background: #ffadbc;
}

.link-background{
    width: auto;
    background: #e3e3e3;
    padding-right: 5px;
    padding-left: 5px;
}

.to-draw-text{
    width: auto;
    font-size: 30px;
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

input{
    outline: none !important;
    font-size: 20px;
    border: solid;
    border-radius: 10px;
    padding-left: 10px;
    background-image: linear-gradient(90deg, #f7deff, #e7cbff);
}

.register-input{
    width: 400px;
    height: 30px;
}

input:focus{
    border-color: #4299E1
}

.canvas{
    width: 800px;
    height: 600px;
    background: #ffffff;
    overflow: hidden;
}

.reveal-canvas{
    width: 800px;
    height: 600px;
    background: #ffffff;
    overflow: hidden;
}

.prompt-input{
    width: 90vw;
    max-width: 730px;
    height: 30px;
}

.google-search-input{
    width: 90vw;
    max-width: 400px;
    height: 30px;
}

.search-image{
    max-width: 400px;
    max-height: 400px;
    background: transparent;
}

.profile-picture{
    width: 50px;
}

.slider{
    width: 200px;
}

.player-card{
    margin: 10px;
    border: solid 2px;
    border-color: transparent;
    background: #ffffff1a;
    width: 180px;
    height: 160px;
    border-radius: 20px;
}

.player-card-selected{
    border: solid 2px;
    border-color: white;
}

.dice-border{
    padding: 7px;
    font-weight: bold;
    border-radius: 8px;

    margin: 2px;

    display: flex;


    border: 3px solid transparent;

    cursor: pointer;

    font-size: 15px;
}

.dice-border-m{
    width: 100px;

    margin: 2px;

    padding: 7px;
    font-weight: bold;
    border-radius: 8px;

    display: flex;

    justify-content: center;

    border: 3px solid transparent;

    cursor: pointer;

    font-size: 15px;
}



.line1{
    background-image: linear-gradient(90deg, #c9ff8a, #8affce);
}
.line2{
    background-image: linear-gradient(90deg, #83ffa6, #83ffee);
}
.line3{
    background-image: linear-gradient(90deg, #5cf0ff, #3b6fff);
}
.line4{
    background-image: linear-gradient(90deg, #8999ff, #c689ff);
}
.line5{
    background-image: linear-gradient(90deg, #ff88d9, #ff8888);
}
.line6{
    background-image: linear-gradient(90deg, #ffa600, #d9ff00);
}

.prim-color{
    color: #ffa600;
}

.prim-color-background{
    background-image: linear-gradient(90deg, #ff9100, #ffee00);

}

.sec-color{
    background: #5cf0ff;
}

.third-color-background{
    background: #c9ff8a;
}

.fourth-color-background{
    background: #bfc7ff;
}

.fifth-color-background{
    background: #ff88d9;;
}

.texture{
    background-image: url("./texture1.png");
}

.shadow{
    box-shadow: 0px 0px 20px #e100ff;
}

.sec-color-text{
    color: #5cf0ff
}

.white-background{
    background: #ffffff;
}

.dice-image{
    margin-top: 295px;
    width: 50px;
}

.crown{
    width: 45px;
    height: 20px;
    transform: translateY(13px);
}

.check-box{
    width: 30px;
    height: 30px;
}

.check-box-label{
    margin-left: 10px;
    font-size: 20px;
}

.check-box-text{
    color: #76ffba;
}

.check-view{
    margin-top: 10px;
    display: flex;

}

.lang-border{
    display: flex;
    padding: 2px;
    width: 70px;
    height: 30px;
    border: solid;
    border-radius: 50px;
    border-color: #5cf0ff;
}

.public-room{
    width: 300px;
    height: 50px;
    margin: 15px;
}

.dashboard-room{
    width: 500px;
    height: 50px;
    margin: 15px
}